.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  width: 100%;
  color: #fff;
  height: 60px;
}

.left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #8cc054;
}
