.message {
  border-radius: 10px;
  margin: 10px;
  height: 40%;
  background-color: #e2e2e2;

  width: 500px;
  display: flex;
  position: relative;
}

.myMessage {
  border-radius: 10px;
  margin: 10px;
  height: 40%;
  width: 500px;
  background-color: #4b4d4a;
  color: #fff;
  display: flex;
  position: relative;
  align-self: flex-end;
  justify-self: self-start;
  float: right;
}

.isntLike {
  border-radius: 100px;
  border: none;
  width: 77px;
  font-size: 21px;
  height: 34px;
  outline: none;
}

.like {
  background-color: #8cc054;
  border-radius: 100px;
  border: none;
  width: 77px;
  font-size: 21px;
  height: 34px;
  outline: none;
}

.avatar {
  padding: 10px;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.creationDate {
  position: absolute;
  top: 3px;
  right: 6px;
  font-size: 13px;
  color: lightslategray;
}

.buttons {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  width: 100px;
}

.confirm {
  border-radius: 10px;
  border: none;
  width: 50px;
  height: 30px;
  outline: none;
  font-size: 20px;
}

.delete {
  border-radius: 10px;
  border: none;
  width: 50px;
  height: 30px;
  outline: none;
}

h3 {
  color: #8cc054;
}
